@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-gray-100;
}

label {
  @apply text-purple-600 font-bold block text-sm lg:text-base mb-2;
}

input,
textarea {
  @apply py-3 px-2 rounded bg-transparent border border-purple-600 placeholder-purple-400 text-purple-600 outline-none focus:ring-4 focus:ring-purple-300 w-full;
}

.pop:hover {
  animation: pop 0.2s linear;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1.06);
  }
}
